<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>412391538026-tt0dtasbue8kh0oti4m8qpcv46dla239.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.412391538026-tt0dtasbue8kh0oti4m8qpcv46dla239</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>412391538026-ptgcm2075giiqiclju1pqm5u14kq7asu.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAoxxSqXWeezcq0VWDKjf7dFsJsvgnt0xs</string>
	<key>GCM_SENDER_ID</key>
	<string>412391538026</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.cipla</string>
	<key>PROJECT_ID</key>
	<string>cipla-a06d5</string>
	<key>STORAGE_BUCKET</key>
	<string>cipla-a06d5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:412391538026:ios:9f86e8d2daa2e278b9b913</string>
</dict>
</plist>